{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Welcome Data Analyst!</h1>
    <!-- se va a modificar la posición de la imagen
    y se genera formato de sección -->
    
    <div class="about">
        <img src="https://picsum.photos/400/200" alt="">
        <div class="about-content">
            <h3>Hacerca de: Jazmin Pineda </h3>
            <p> visualizacion a la que le apliqué el filtro que ven en la imagen, ultimos tres meses naturales (en este caso, octubre noviembre y diciembre. </p>
        </div>
    </div>

{%endblock%}