{% extends 'layouts/base.html' %}
{% block content %}
    <h1>Portfolio</h1>
    <div class="challenge"> <a href="">Mis Challenge panel power bi</a>
        <p>
        <img src="https://picsum.photos/300/200" alt="">
        <img src="https://picsum.photos/300/200" alt="">
        <img src="https://picsum.photos/300/200" alt="">
        <img src="https://picsum.photos/300/200" alt="">
        <img src="https://picsum.photos/300/200" alt="">
        <img src="https://picsum.photos/300/200" alt="">
        </p>
        
    </div>

{% endblock %}