{% load static %}
<footer>
    <img src="{% static 'img/grafico-de-ingresos.png' %}" width="48 ">
    <ul>
        <li> <a href="https://www.flaticon.es/iconos-gratis/tablero">Diseñador Logo flaticon</a></li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/tablero">Diseñador Logo flaticon</a></li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/tablero">Diseñador Logo flaticon</a></li>
    </ul>
    <ul>
        <li> <a href="{% url 'index' %}"> Inicio </a></li>
        <li> <a href="{% url 'portfolio' %}"> Mi trabajo </a></li>
        <li> <a href="https://www.linkedin.com/in/jazminpineda/"> Linkdin</a></li>
    </ul>
    <ul>
        <li> <a href="https://www.flaticon.es/iconos-gratis/tablero">Diseñador Logo flaticon</a></li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/tablero">Diseñador Logo flaticon</a></li>
        <li> <a href="https://www.flaticon.es/iconos-gratis/tablero">Diseñador Logo flaticon</a></li>
    </ul>
</footer>
    <!-- <a href="https://www.flaticon.es/iconos-gratis/tablero" title="tablero iconos">Tablero iconos creados por Graphix Dxinerz - Flaticon</a>
    <a href="https://www.flaticon.es/iconos-gratis/tabla-de-ingresos" title="tabla de ingresos iconos">Tabla de ingresos iconos creados por Graphix Dxinerz - Flaticon</a> -->
